:root {
    --color-black: #3A170E;
    --color-text: #8ecae6;
    --color-hover: #219ebc;
    --color-primary: #fb8500;
    --color-secondary: #ffb703;
    --color-red: #C14C31;
    --color-light:#fff;
}